body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.pixel {
    width: 50px;
    height: 50px;
    border: 2px solid #f00;
    transition: background-color 0.3s;
    background-color: #31adff; /* Color de fondo inicial */
}